/**
 * Buttons
 */

     /* Normal Button */
.btn{
    width: 157px;
    height: 44px;
    border-radius: 5px;
    font-family: Dosis;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin: 10px;
    background-color: transparent;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
    .btn-full{
        background-color: #FF1744;
    }
    .btn-full:hover,
    .btn-full-hover{
        background-color: #FF496C;
    }
    .btn-full:active,
    .btn-full-active{
        background-color: #CF1A3D;
        box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
    }
    .btn-full:disabled,
    .btn-full-disabled{
        background-color: #282F3F;
    }

    /* Outline Button */
    .btn-outline{
        border: 2px solid #FFFFFF;
        background: transparent;
    }
    .btn-outline:hover,
    .btn-outline-hover{
        background-color: #FFFFFF;
        color: #181C25;
    }
    .btn-outline:active,
    .btn-outline-active{
        background-color: #DCDCDC;
        box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
        color: #181C25;
    }
    .btn-outline:disabled,
    .btn-outline-disabled{
        background: transparent;
        opacity: 0.3;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
    }

    /* Borderless Button */
    .btn-borderless{
        color: #FFFFFF;
    }
    .btn-borderless:hover,
    .btn-borderless-hover{
        color: #FF1744;
    }
    .btn-borderless:active,
    .btn-borderless-active{
        color: #CF1A3D;
    }
    .btn-borderless:disabled,
    .btn-borderless-disabled{
        color: #FFFFFF;
        opacity: 0.3;
    }
