/** Header **/

section.header-section {
    padding-bottom: 500px;
    width: auto;
}

section.header-section h3 {
    width: 960px;
    padding-left: 20px;
    margin: 50px auto;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 960px;
    height: 75px;
    margin: 0;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    vertical-align: middle;
}

.header .header-menu,
.header .dropdown,
.header .icons {
    display: inline-block;
    vertical-align: middle;
}

.header .icons {
    margin-right: 20px;
}

.header .icons i,
.header .search i {
    cursor: pointer;
    margin: 0 15px;
    opacity: 0.5;
    transition: all 0.2s ease;
}

.header .icons i:hover,
.header .search i:hover {
    opacity: 1;
}

.header .right {
    display: inline-block;
    float: right;
    margin-left: auto;
}

.header .left {
    display: inline-block;
    float: left;
}

.header .header-menu li a i.material-icons {
    display: none;
}

@media only screen and (max-width: 1080px) {
    .header .header-menu li a span {
        display: none;
    }
    .header .header-menu li a i.material-icons {
        display: inherit;
    }
}
