.progress > li {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #FFF;
    margin: 2rem;
}

.progress > li:after {
    content: attr(data-percent);
    position: absolute;
    width: 100%;
    top: 3.7rem;
    left: 0;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.progress svg {
    width: 10rem;
    height: 10rem;
}
.progress svg:nth-child(1) path{
    stroke: rgba(0, 0, 0, 0.5);
}
.progress svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

.progress svg:nth-child(2) path {
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 629;
    stroke: #FF1744;
    animation-name: load;
    animation-duration: 3s;
    /*animation-iteration-count: infinite;*/
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
}

@-webkit-keyframes 
    load {
            0% { stroke-dashoffset:0 }
    }

@-moz-keyframes 
    load {
            0% { stroke-dashoffset:0 }
    }

@keyframes 
    load {
            0% {    stroke-dashoffset:0 }
    }

