/**
 * Menu
 */
nav.app-menu {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: auto;
}
nav.app-menu ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
nav.app-menu li {
    display: inline-block;
    float: left;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    opacity: 0.4;
    text-transform: uppercase;
    position: relative;
}
nav.app-menu li.active {
    opacity: 1;
}
nav.app-menu li.active a {
    opacity: 1;
}
nav.app-menu li.active a:hover {
    opacity: 0.8;
}
nav.app-menu li a {
    border-bottom: 3px solid transparent;
    color: #ffffff;
    opacity: 0.4;
    display: block;
    padding: 4px 0;
    margin: 0 20px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

nav.app-menu li:hover,nav.app-menu li:hover a {
    opacity: 1;
}

nav.app-menu li:hover a::after  {
    content: " ";
    background: #FFF;
    bottom: 0;
    height: 3px;
    position: absolute;
    left: 0;
    margin-left: 20px;
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    width: calc( 100% - 40px );
    border-radius: 3px;
}
nav.app-menu .active-marker {
    background: #FF1744;
    bottom: 0;
    display: none;
    height: 3px;
    position: absolute;
    left: 0;
    margin:0  20px;
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    width: auto;
    border-radius: 3px;
}

/**
 * Shows menu
 */
nav.app-menu.shows-menu li {
    font-size: 18px;
    line-height: 22px;
}

nav.app-menu.shows-menu li a{
  padding: 0;
  margin:0 20px;
}
nav.app-menu.shows-menu .active-marker, nav.app-menu.shows-menu li:hover a::after   {
    height: 2px;
}
