@import "css/button.css";
@import "css/colors.css";
@import "css/dropdown.css";
@import "css/header.css";
@import "css/loader.css";
@import "css/movie-details.css";
@import "css/movie-item.css";
@import "css/nav.css";
@import "css/search.css";
@import "css/settings-row.css";

/**
 * App Generic
 */

body {
    font-family: Dosis;
    background: #191c28;
}

section,
header {
    margin: 40px auto;
    width: 920px;
    clear: both;
}

h3 {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    color: #FFFFFF;
}


/**
 * Base of Styleguide
 */

.logo {
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    width: calc(100% - 130px);
    display: inline-block;
    vertical-align: middle;
}

.title h1 {
    font-family: Dosis;
    font-size: 36px;
    font-weight: bold;
    line-height: 46px;
    color: #FFFFFF;
}

.sub-header {
    opacity: 0.4;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    display: block;
    font-weight: 500;
}

.background-white {
    background-color: #FFFFFF;
}

.background-outline {
    opacity: 0.4;
    border: 3px solid #ffffff
}

.background-primary {
    background-color: #FF1744;
}

.background-disabled {
    background-color: #74767C;
}

span.info {
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
    width: 150px;
    text-align: center;
    margin: 0 4px 10px;
}
